Tugas 4.json
{
  "name": "Tugas 4_Auto posting",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        688,
        208
      ],
      "id": "fab1c592-bb28-48d7-80fa-39fcfb65c111",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst now = DateTime.now().setZone('Asia/Jakarta');\nconst postsToSend = [];\n\nfor (const item of items) {\n  const row = item.json;\n\n  // Mencari nama kolom secara fleksibel (tidak peduli spasi di depan/belakang)\n  const getVal = (keyName) => {\n    const key = Object.keys(row).find(k => k.trim().toLowerCase() === keyName.toLowerCase());\n    return key ? row[key].toString().trim() : null;\n  };\n\n  const status = getVal('Status');\n  const dateStr = getVal('Scheduled Date');\n  const timeStr = getVal('Scheduled Time');\n\n  if (status && status.toLowerCase() === 'pending' && dateStr && timeStr) {\n    // Gabungkan Tanggal dan Waktu\n    const dateTimeString = `${dateStr}T${timeStr}`;\n    \n    // Coba parse dengan fromISO\n    let scheduledTime = DateTime.fromISO(dateTimeString, { zone: 'Asia/Jakarta' });\n\n    // Jika ISO gagal, coba format DD/MM/YYYY (cadangan)\n    if (!scheduledTime.isValid) {\n      scheduledTime = DateTime.fromFormat(dateTimeString, \"dd/MM/yyyy'T'H:mm:ss\", { zone: 'Asia/Jakarta' });\n    }\n\n    // Filter final\n    if (scheduledTime.isValid && scheduledTime <= now) {\n      postsToSend.push(item);\n    }\n  }\n}\n\nreturn postsToSend;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        208
      ],
      "id": "656a89e5-1db0-467a-8cd4-bf2df0c30649",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "6137500410",
        "text": "={{ $json.Content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1312,
        208
      ],
      "id": "390ee350-021d-449f-81fe-aca15f44bbba",
      "name": "Send a text message",
      "webhookId": "b976ed30-c26f-4944-83cf-08015b3231cd",
      "credentials": {
        "telegramApi": {
          "id": "GTY0j8oWBNeFBzaJ",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7b943d7-edf2-4b1e-a2e6-36a3dc9861c0",
              "name": "row_number",
              "value": "={{ $('Code in JavaScript').item.json.row_number }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        208
      ],
      "id": "474b32b6-ba2b-4f1d-8502-0a4f243ab2db",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1awjcQue0yDyeZk7g7Gdq4nzftK5lCZrOqnJt2iROWYU",
          "mode": "list",
          "cachedResultName": "Copy of Auto Posting Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1awjcQue0yDyeZk7g7Gdq4nzftK5lCZrOqnJt2iROWYU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11YwJXDtiLHdPHQkYyE9Xsrr1iP6S3FKeXBV6HirvK00/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Published",
            "ID": "={{ $('Code in JavaScript').item.json.ID }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scheduled Date",
              "displayName": "Scheduled Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scheduled Time",
              "displayName": "Scheduled Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1728,
        208
      ],
      "id": "60429302-0124-4928-b2cc-0d41550606e5",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6kmgeYBcWn27mMOu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1awjcQue0yDyeZk7g7Gdq4nzftK5lCZrOqnJt2iROWYU",
          "mode": "list",
          "cachedResultName": "Copy of Auto Posting Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1awjcQue0yDyeZk7g7Gdq4nzftK5lCZrOqnJt2iROWYU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1awjcQue0yDyeZk7g7Gdq4nzftK5lCZrOqnJt2iROWYU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        208
      ],
      "id": "613d1e85-6a1b-432b-ad9d-e5f5acd1f80f",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6kmgeYBcWn27mMOu",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "eee938e3-01f5-44e1-a9ff-1da350d1a0e3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ca717fd94af988c964ca8c7ad77d499fdda8a5db6d307c349a7d58046ec5960"
  },
  "id": "xCrWKxNcy3OS6fch",
  "tags": []
}